ul li{
    display: inline;
    margin: 0 90px;
}
.Inicio{
    display: flex;
    border-bottom: 3px solid #999;
}
#Izq{
    width: 70%;
    text-align: justify;
}
#Der{
    padding-left: 120px;
    width: 30%;
    font-size: 140%;
}
#cargo{
    padding-left: 15px;
    padding-top: 4px;
    background-color: #ffa9cd;
    height: 16%;
}
.education{
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 3px solid #999;
    padding-bottom: 25px;
}
.elemento{
    padding: 25px;
    width: 50%;
    text-align: justify;
}
.contenedor{
    display: flex;
    width: 100%;
}
.borde{
    width: 50%;
    border-left: 3px solid #999;
}
.skills{
    display: flex;
    width: 100%;
    position: relative;
    margin: 0px;
    padding: 0 0px;
    border-bottom: 3px solid #999;
    padding-bottom: 40px;
}
.skill_izq{
    width: 50%;
    padding-right: 33px;
}
.skill_der{
    border-left: 3px solid #999;
    padding-left: 30px;
    width: 50%;
}
.skill{
    justify-content: space-between;

}
.progress{
    position: relative;
    width: 100%;
    height: 6px;
    background: #999;
    border-radius: 6px;
    overflow: hidden;
    margin: 5px 0;
}
.progress::before{
    content: '';
    position: absolute;
    width: var(--wth);
    height: 100%;
    background: black;
}
.goals{
    display: flex;
    width: 100%;
    padding: 0 20px;
    border-bottom: 3px solid #999;
    padding-bottom: 30px;
    
}
.cert{
    width: 50%;
    display: flex;
    text-align: justify;
    border-left: 3px solid #999;
}
.c_izq{
    width: 45%;
    padding: 25px;
}
.c_der{
    width: 45%;
    padding: 25px;
}
.nombres{
    display: flex;
}
#lan{
    padding-right: 42%;
}
.icons{
    justify-content: center;
    text-align: center;
}
.icons ul li .fa{
    margin-top: 17px;
    font-size: 150%;
}
.icons ul li{
    list-style: none;
    float: left;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #999;

}